.post__like-button {
	background: url(../../../images/like-button.svg) no-repeat center;
	width: 22px;
	height: 19px;
	border: none;
	position: absolute;
	right: 20px;
	bottom: 30px;
	transition: opacity .3s;
}
.post__like-button:hover {
	cursor: pointer;
	opacity: .5;
}